@import "custom";

textarea {
  resize: none;
}

.loading {
  width: 5rem;
  height: 5rem;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -2.5rem;
  margin-left: -2.5rem;
}

.user {
  cursor: pointer;
  display: inline;
  border: 1px solid transparent;
  padding: 0.5rem;
  transition: border 0.5s;
  border-radius: 5px;

  &:hover {
    border: 1px solid #333;
  }
}

.alerts {
  position: fixed;
  right: 3rem;
  width: 15rem;
  top: 5rem;
  z-index: 10;
  max-height: 25rem;
  overflow: scroll;
}

.alert {
  padding: 0.3rem;
  z-index: 2000;
}

.alert-head {
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

.alert-text {
  font-size: 0.8rem;
  margin-bottom: 0;
}

.message-board {
  height: 25rem;
  overflow: scroll;
  .message-user {
    margin: 0;
  }

  .message {
    margin: 0;
  }

  small {
    margin: 0;
    display: block;
  }
}

.badge.delete {
  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
  }
}

@media (max-width: 768px) {
  .alerts {
    right: 1rem;
    top: 4rem;
    opacity: 0.9;
    max-height: 15rem;
  }

  .alert {
    margin-bottom: 0.5rem;
  }

  .modal-dialog {
    top: 5%;
    left: 5%;
    width: 85%;
    right: 5%;
  }

  .message-board {
    height: 20rem;
  }
}
